* {
	background-image: none;
	box-shadow: none;
}

window {
  background-color: rgba(46, 52, 64, 0.6);
}

button {
  border-radius: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  color: #ECEFF4;
  border: 5px solid transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus {
  border: 5px solid #8FBCBB;
}

button:hover {
	background-color: #8FBCBB;
  color: #2E3440;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
